{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
     
      <div class="col-lg-12 col-md-4 order-1">
        <div class="row">
         <div class="col-lg-12 mb-4">  
             
            
            <div class="row  mb-3" >

               
                <!-- / Expense Overview -->
                    <!-- <div class="col-lg-12">
                        <div class="row" >

                           
                        <div class="col-lg-3 col-md-12 col-6 mb-3">
                          <a href="/donationManagement/listDonations/createdAt/">
                            <div class="card">
                              <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                  <div class="avatar flex-shrink-0 icon-update red-bg">
                                   <i class="fa fa-users"></i>
                                  </div>
                                  
                                </div>
                                <span class="fw-semibold d-block mb-1">Total Doners</span>
                                <h3 class="card-title mb-2">{{totalDoners}}</h3>
                              </div>
                            </div>
                          </a>
                          </div>

                          <div class="col-lg-3 col-md-12 col-6 mb-3" style="cursor: pointer;">
                            <a href="/donationManagement/listLastMonthDonations/createdAt/"><div class="card">
                              <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                  <div class="avatar flex-shrink-0 icon-update green-bg">
                                   <i class="fa fa-user"></i>
                                  </div>
                                  
                                </div>
                                <span class="fw-semibold d-block mb-1">Last Month Doners</span>
                                <h3 class="card-title mb-2">{{totalLastMonthDoners}}</h3>
                              </div>
                            </div>
                            </a>
                          </div>
                          <div class="col-lg-3 col-md-12 col-6 mb-2">
                            <div class="card">
                              <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                  <div class="avatar flex-shrink-0 icon-update yellow-bg">
                                    <i class='bx bxs-bank' ></i>
                                  </div>
                                  
                                </div>
                                <span class="fw-semibold d-block mb-1">Total Balance</span>
                                <h3 class="card-title mb-2">&#8377; {{totalBalance}}</h3>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-12 col-6 mb-2">
                            <div class="card">
                              <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                  <div class="avatar flex-shrink-0 icon-update orange-bg">
                                    <i class='bx bx-wallet' ></i>
                                  </div>
                                  
                                </div>
                                <span class="fw-semibold d-block mb-1">Total Transaction</span>
                                <h3 class="card-title mb-2">{{totalTansactions}}</h3>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      </div>
                </div> -->

            <div class="card">
                <h5 class="card-header">
                  <div class="row">
                    <div class="col-lg-7">
                    Last Month Donations
                    </div>
                   
                    <div class="col-lg-2 mt-2" style="text-align: right;">
                      <!-- <i class='bx bx-filter'></i> -->
                      <!-- <i class='bx bx-sort' ></i> -->
                    </div>
                    <div class="col-lg-3" style="text-align: right;">
                      <select id="language" class="select2 form-select" onchange="javascript:handleSelect(this)">
                        {% if request.path == '/donationManagement/listLastMonthDonations/createdAt/' %}
                            <option value="" disabled>---------------</option>
                            <option value="paymentStatus">Sort By Status</option>
                            <option value="paymentAmount">Sort By Amount </option>
                            <option value="createdAt" selected>Sort By Time </option>

                            {% elif request.path == '/donationManagement/listLastMonthDonations/paymentAmount/'%}
                            <option value="" disabled>---------------</option>
                            <option value="paymentStatus">Sort By Status</option>
                            <option value="paymentAmount" selected>Sort By Amount </option>
                            <option value="createdAt" selected>Sort By Time </option>

                            {% elif request.path == '/donationManagement/listLastMonthDonations/paymentStatus/' %}
                            <option value="" disabled>---------------</option>
                            <option value="paymentStatus" selected>Sort By Status</option>
                            <option value="paymentAmount">Sort By Amount </option>
                            <option value="createdAt" selected>Sort By Time </option>
                            
                            {% else %}
                            <option value="" disabled selected>---------------</option>
                            <option value="paymentStatus">Sort By Status</option>
                            <option value="paymentAmount">Sort By Amount </option>
                            <option value="createdAt">Sort By Time </option>
                            {% endif %}
                       
                      </select>
                    </div>
                  </div>
                  </h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date Recived</th>
                        <th>Donation ID</th>
                        <th>User Name</th>
                        <th>Amount</th>
                       
                        <th>Status</th>
                       
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for donation in donations %}
                      <tr>
                        <td>
                           {{donation.createdAt}}
                        </td>
                        <td>{{donation.donationId}}</td>
                        <td>{{donation.userId.fullName}}</td>
                        <td>{{donation.paymentAmount}}</td>
                        
                        {% if donation.paymentStatus == 1 %}
                        <td><span class="badge bg-label-info me-1">Pending</span></td>
                    
                        {% elif donation.paymentStatus == 2 %}
                        <td><span class="badge bg-label-success me-1">Completed</span></td>

                        {% elif donation.paymentStatus == 3 %}
                        <td><span class="badge bg-secondary me-1">Canceled</span></td>
              
                        {% elif donation.paymentStatus == 4 %}
                        <td><span class="badge bg-label-danger me-1">Failed</span></td>

                        {% endif %}
                      </tr>
                      {% endfor %}
                      
                      
                    
                     
                    </tbody>
                  </table>
                </div>


                <div class="demo-inline-spacing mt-4">
                  <nav aria-label="Page navigation">

                    <ul class="pagination justify-content-center">
    
                        {% if donations.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ donations.previous_page_number }}">Previous</a></li>
                            
                        {% endif %}
                        
                        
                        <li class="page-item disabled"><a href="#" class="page-link">Page {{ donations.number }} of {{ donations.paginator.num_pages }}</a></li>
                        
                        
                        {% if donations.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ donations.next_page_number }}">Next</a></li>
                        
                            <li class="page-item"><a class="page-link" href="?page={{ donations.paginator.num_pages }}">Last &raquo</a></li>
                        
                        {% endif %}
                        
                         </ul>
                  </nav>
                 
                </div>



              </div>
              </div>



        </div>
      </div>
    
    </div>
   </div>
  <!-- / Content -->
  <script type="text/javascript">
    function handleSelect(elm)
    {
      if(elm.value=='paymentAmount'){
      document.location.href = "/donationManagement/listLastMonthDonations/paymentAmount/";
      }
      if(elm.value=="createdAt"){
      document.location.href = "/donationManagement/listLastMonthDonations/createdAt/";
      }
      if(elm.value=="paymentStatus"){
      document.location.href = "/donationManagement/listLastMonthDonations/paymentStatus/";
      }
      
    }
  </script>

  {% endblock %}