

{% extends "base/base.html" %}
            {% block content %}
            {% load static %}

 <!-- Content -->
        
 <div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">
      <div class="col-md-12">
       
        <div class="card mb-4">
          <h5 class="card-header">Profile Details</h5>
          <!-- Account -->
          <div class="card-body">
            <form  id="formAccountSettings" action="/users/editAdminProfile/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="d-flex align-items-start align-items-sm-center gap-4">
              <img src="{{context.image}}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
              <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                  <span class="d-none d-sm-block">Upload new photo</span>
                  <i class="bx bx-upload d-block d-sm-none"></i>
                  <input type="file" id="upload" value="{{context.image}}" name="image" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                </label>
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                  <i class="bx bx-reset d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Reset</span>
                </button>

                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
              </div>
            </div>
          </div>
          <hr class="my-0">
          <div class="card-body">
            <!-- <form id="formAccountSettings" method="POST" onsubmit="return false"> -->
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">Name</label>
                  <input class="form-control" type="text" id="fullName" name="fullName" value="{{context.fullName}}" required autofocus="">
                </div>
             
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">E-mail</label>
                  <input class="form-control" type="text" id="email" name="email" readonly value="{{context.email}}" placeholder="john.doe@example.com">
                </div>
               
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="phoneNumber">Phone Number</label>
                  <div class="input-group input-group-merge">
                    <!-- <span class="input-group-text">US (+1)</span> -->
                    <input type="text" id="mobileNo" name="mobileNo" class="form-control" value="{{context.mobileNo}}" placeholder="202 555 0111">
                  </div>
                </div>
                <!-- <div class="mb-3 col-md-6">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                </div>
                <div class="mb-3 col-md-6">
                  <label for="state" class="form-label">State</label>
                  <input class="form-control" type="text" id="state" name="state" placeholder="California">
                </div>
                <div class="mb-3 col-md-6">
                  <label for="zipCode" class="form-label">Zip Code</label>
                  <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="231465" maxlength="6">
                </div> -->
              
               
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save changes</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
       
      </div>
    </div>
  </div>
  <!-- / Content -->

  <script src="{% static 'assets/js/pages-account-settings-account.js' %}"></script>




{% endblock %}






<!-- {% for i in data %}
<h1>Name: </h1><h3>{{i.fullName}}</h3>
<h1>Email: </h1><h3>{{i.email}}</h3>
<h1>Phone: </h1><h3>{{i.mobileNo}}</h3>
<h1>Gender: </h1><h3>{{i.gender}}</h3>
{% endfor %} -->